ENV=dev
DEBUG_MODE=1
APPLICATION_HOST=localhost
EMAILER_API=http://localhost:10049/api
MARIADB_PASSWORD=CHENGE_ME
MARIADB_ROOT_PASSWORD=CHENGE_ME_TOO
SWAGGER_UI_CPUS=0.5
SWAGGER_UI_MEMORY=128m
CI_CPUS=2
CI_MEMORY=2g
CI_BUILD_CPU_QUOTA=200000
CI_BUILD_MEMORY=2g
PHP_VERSION=8.4
